<div class="card post">
  <div class="card-body">
    <h5 class="card-title"><%= post.title%></h5>
    <p class="card-text"><%= is_truncated ? post.content.truncate(30) : post.content %></p>
  </div>
</div>