<article class="card post" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title"><%= post.title%></h5>
    <p class="card-text"><%= post.content.truncate(30) %></p>
  </div>
</article>