<div class="mt-3">
  <h1><%= Post.model_name.human(count: @posts.size) %></h1>

  <section class="post-container">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <%= render "posts_index", post: post %>
      <% end %>
    <% end %>
  </section>
</div>