/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

article {
    position: relative;
}

.container {
    text-align: center;
 }

.card-body {
    border: 1px solid #EDEDED;
}

.field_with_errors {
    display: initial;
}

.text-danger ul {
    list-style-type: none;
}

.form-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form-check {
    text-align: left;
}

.form-check-label {
    padding-left: 1rem;
}

.form-comment-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 500px;
    margin: 1% auto 0 auto; /* Only centers horizontally not vertically! */
    left: 0;
    right: 0;
    padding-inline: 15%;
    background-color: #fff;
}

.post-container {
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

.post-actions {
    display: flex;
    justify-content: space-around;
}

.pagination {
    justify-content: center;
}

.nav-login {
    margin-left: auto;
}

.marg-bottom {
    margin-bottom: 5rem;
}